extends layout

block content
  h1= title
  p 
    img(src=image , alt=name)
    h3 Name: #{name}
    h3 Age: #{age}
    h3 Gender: #{gender}
    h3 Eye Color: #{eye_color}
    h3 Hair Color: #{hair_color}